/MySqlTest/nbproject/private/
/MySqlTest/build/
/ContractEditor/nbproject/private/
/JavaApplication2/nbproject/private/
/ContactEditor/nbproject/private/
/NumberAddition/nbproject/private/
/NumberAddition/build/
/NumberAddition/dist/
/TestLocalMySQL/nbproject/private/
/TestMySQL/nbproject/private/
/TestMySQL/build/
/GuiDBConnection/nbproject/private/
/DBGui/nbproject/private/
/DBGui/build/
/DBGui/dist/
